<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogMeal Technical Test</title>
    <link rel="stylesheet" href="../list-images-style.css">
</head>

<body>
    <div class="nav-bar">
        <ul>
            <li><img src="../assets/logmeal_logo.png" alt="logo" id="logMeal-logo"></li>
            <li><a href="../index.html">Home</a></li>
            <li><a href="upload-image.html">Upload image</a></li>
            <li><a href="analyse-image.html">Analyse image</a></li>
            <li><a class="active" href="list-images.html">List images</a></li>
        </ul>

    </div>
    <!-- Empty div to list all images via script -->
    <div id="list">

    </div>

    <script src="../list-images.js"></script>
</body>

</html>